﻿@inject IJSRuntime JSRuntime

<pre style="overflow-x: auto"><code class="@Language">
    @ChildContent
</code></pre>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string Language { get; set; }

    //protected override async Task OnAfterRenderAsync(bool firstRender)
    //{
    //    if (firstRender == true)
    //    {
    //        await JSRuntime.InvokeVoidAsync("hljs.highlightAll");
    //    }
    //}
}