﻿@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

/*I just like slashed zeroes, okay?*/
* {
    font-variant-numeric: slashed-zero;
    -moz-font-feature-settings: 'zero';
    -webkit-font-feature-settings: 'zero';
    font-feature-settings: 'zero' on;
}



/*Bootstrap font override*/
:root {
    --font-family-monospace: "Fira Code", "Cascadia Code", Consolas, "Liberation Mono", "Courier New", monospace;
    --font-family-sans-serif: "Fira Sans", Roboto, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.tooltip {
    font-family: "Fira Sans", Roboto, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.popover {
    font-family: "Fira Sans", Roboto, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

pre, code, kbd, samp {
    font-family: "Fira Code", "Cascadia Code", Consolas, "Liberation Mono", "Courier New", monospace;
    font-variant-numeric: unset;
    -moz-font-feature-settings: 'zero' 0;
    -webkit-font-feature-settings: 'zero' 0;
    font-feature-settings: 'zero' off;
}

.text-monospace {
    font-family: "Fira Code", "Cascadia Code", Consolas, "Liberation Mono", "Courier New", monospace;
    font-variant-numeric: unset;
    -moz-font-feature-settings: 'zero' 0;
    -webkit-font-feature-settings: 'zero' 0;
    font-feature-settings: 'zero' off;
}
/*Endof Bootstrap font override*/

/*Remember about the sidebar width!*/
@media (min-width: 1100px) {
    .custom-max-width {
        max-width: 850px;
    }
}


html, body {
    font-family: "Fira Sans", Roboto, Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Zilla Slab", "Fira Sans", Roboto, Arial, Helvetica, sans-serif;
    font-weight: 600;
}


a {
    text-decoration-line: underline;
}

/*a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}*/

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

#problem-input {
    --font-family: "Fira Code", "Cascadia Code", Consolas, "Liberation Mono", "Courier New", monospace;
}

pre {
    overflow: auto !important;
    font-size: 90%;
    background-color: #ffffff;
    border: 1px solid #898989;
    padding: 5px;
}
