﻿::deep blockquote {
    background: #ddd8e5;
    border-left: 5px solid #563d7c;
    margin: 0.5em 5px;
    padding: 0.5em 5px;
}

::deep blockquote p {
    display: inline;
}

::deep footnote-ref {
    color: #563d7c;
    text-decoration: underline;
}