﻿@page "/puzzles/day/{day:int}"

@inject HttpClient Http
@inject IMetadataDictionary MetadataDictionary

@using Markdig
@using Markdig.Extensions.AutoLinks;

@using Aoc2020_Blazor.Solutions
@using Aoc2020_Blazor.Data

@if (Day < 1 || Day > 25)
{
    <h1 class="text-danger">Error.</h1>

    <p>
        There are only 25 problems each year during the <em>Advent of Code</em>.
        <span class="text-danger">There is no solution for the specified day number (@Day).</span>
    </p>
}
else
{
    <h1>Day @Day. @problemMetadata.Title</h1>

    <div class="container-sm p-1 mx-auto">
        <button class="btn btn-primary" @onclick="SolveA">Solve Part A</button>
        <input name="part-a-result" type="text" readonly value="@partAAnswer" />
    </div>

    <div class="container-sm p-1 mx-auto">
        <button class="btn btn-secondary" @onclick="SolveB">Solve Part B</button>
        <input name="part-b-result" type="text" readonly value="@partBAnswer" />
    </div>

    <hr />

    <div>
        <TabControl>
            <TabPage Text="Explanation">
                <div class="py-2 custom-max-width">
                    <h2>Problem statement</h2>

                    <a href="https://adventofcode.com/2020/day/@Day" target="_blank" rel="noopener noreferrer">https://adventofcode.com/2020/day/@Day</a> <a href=@($"https://github.com/encse/adventofcode/blob/master/2020/Day{dayPadded}/README.md") target="_blank" rel="noopener noreferrer">(mirror)</a>

                    <hr />

                    @((MarkupString)Markdown.ToHtml(description, pipeline))
                </div>
            </TabPage>
            <TabPage Text="Input">
                <div class="py-2 custom-max-width">
                    <textarea class="form-control" rows="20" id="problem-input" @bind="input">@input</textarea>
                </div>
            </TabPage>
            <TabPage Text="Code">
                <div class="py-2 custom-max-width">
                    <CodeComponent Language="language-csharp">@codeFile</CodeComponent>
                </div>
            </TabPage>
        </TabControl>
    </div>
}



@code {

    // This is the routing parameter that describes the current day
    [Parameter]
    public int Day { get; set; }

    private ProblemMetadata problemMetadata { get; set; } = new ProblemMetadata() { Day = 0, Title = "Loading…" };


    // This after OnInitializedAsync will become an new instance of class that holds the solver methods for current day
    ISolution solution;

    // This varaible will hold the contents of *my* default input file. Each participant in AoC gets their own generated input!
    private string input = String.Empty;
    private string description = String.Empty;
    private string dayPadded = String.Empty;
    MarkdownPipeline pipeline = new MarkdownPipelineBuilder().UseAdvancedExtensions().Build();

    protected override async Task OnParametersSetAsync()
    {
        dayPadded = Day.ToString().PadLeft(2, '0');
        await ResetSolution();
    }


    protected override async Task OnInitializedAsync()
    {
        dayPadded = Day.ToString().PadLeft(2, '0');
        await ResetSolution();
    }

    private string partAAnswer { get; set; } = "Run the solution";
    private string partBAnswer { get; set; } = "Run the solution";

    private async void SolveA()
    {
        partAAnswer = await solution.PartAAsync(input);
        StateHasChanged();
    }

    private async void SolveB()
    {
        partBAnswer = await solution.PartBAsync(input);
        StateHasChanged();
    }

    private string codeFile { get; set; }

    private async Task ResetSolution()
    {
        await MetadataDictionary.Initialize(); // Internal flag in Intialize() should make the initialization run only once
        string dayAsString = Day.ToString().PadLeft(2, '0');

        try
        {
            input = await Http.GetStringAsync($"inputs/day{dayAsString}.txt");
            problemMetadata = MetadataDictionary.Metadata[Day];
            description = await Http.GetStringAsync($"descr/Description{dayAsString}.md");
            codeFile = await Http.GetStringAsync($"source/Solution{dayAsString}.cs");
        }
        catch (HttpRequestException)
        {
            input = String.Empty;
            problemMetadata = new ProblemMetadata() { Day = 0, Title = "Loading…" };
            description = String.Empty;
            codeFile = String.Empty;
            //throw;
        }

        if (Day >= 1 && Day <= 25)
        {
            solution = (ISolution)Activator.CreateInstance(Type.GetType($"Aoc2020_Blazor.Solutions.Solution{dayAsString}", true));
            partAAnswer = "Run the solution";
            partBAnswer = "Run the solution";
        }
        //StateHasChanged();
    }
}