﻿@page "/"

<div class="custom-max-width">
    <h1>Welcome!</h1>

    <p class="text-primary">The source code of this application is available on <a href="https://gitlab.com/bltzkrg22/advent-of-code-2020-in-blazor-wasm" target="_blank">GitLab</a>.</p>

    <h2>What is this?</h2>

    <p>This is a solver for the problems from <em><a href="https://adventofcode.com/2020" target="_blank">Advent of Code 2020</a></em>. If you haven’t heard about <em>Advent of Code</em> yet, you may want to read the official <a href="https://adventofcode.com/about" target="_blank">about page</a> first.</p>

    <p>Choose any day from the navigation menu, and you will be able to find the link to official problem description, run the solver with my input data (or enter your own input), and see my C# solution.</p>

    <p>Every participant is given their own, randomly generated problem inputs. The solver gives correct answers for <em>my</em> inputs; I also tested it against the inputs from some people who kindly shared their own inputs and answers. It is entirely possible that I missed some edge cases.</p>

    <p>The explanations of each solution assume that the reader is familiar with the task (i.e. at least read the problem statement from the official <i>AoC</i> website, and spent a few minutes on thinking how to solve it). They are unfortunately not stand-alone, and probably worthless without appropriate context. 😑</p>


    <h2>Why?</h2>

    <p>I wrote this app mainly for two things:</p>

    <ol>
        <li>To refresh my C# knowledge.</li>
        <li>To learn a little about developing web applications with Blazor WASM.</li>
    </ol>


    <h2>Lessons learned</h2>

    <p>WASM does not play nice with frequent memory allocation. There seems to be a big overhead compared to the same code running as a console app. Deep recursive calls will promptly crash the browser due to insufficient RAM.</p>

    <p>Getting Blazor to render HTML when given markdown source is pretty easy with <a href="https://github.com/xoofx/markdig/" target="_blank">Markdig library</a>. Working around the markdown limitations is not pretty though, and I ended up using inline HTML inside markdown pretty frequently.</p>


    <h2>Acknowledgments</h2>

    <p>The following solver from year 2019 was a source of inspiration: <a href="https://sanraith.github.io/aoc2019/" target="_blank">https://sanraith.github.io/aoc2019/</a>.</p>

    <p>This GitHub repo has some beautiful C# solutions: <a href="https://github.com/encse/adventofcode/tree/master/2020" target="_blank">https://github.com/encse/adventofcode/tree/master/2020</a>. While I solved all the problems on my own, I did look up other people’s solutions afterwards, and incorporated a few improvements into my code.</p>
</div>


@code
{
    // Empty
}
